################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireAlert/SmartHome/Debug
/.vs/SmartHome/FileContentIndex
/FireAlert/.vs/FireAlert
/FireAlert/.vs/SmartHome/FileContentIndex
