################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FireAlert/FileContentIndex
/packages/Microsoft.Bcl.AsyncInterfaces.1.1.0
/packages/Microsoft.IdentityModel.Abstractions.6.34.0/lib
/packages/Microsoft.IdentityModel.JsonWebTokens.6.34.0/lib
/packages
/FireAlert/bin/Debug
/FireAlert/obj/Debug
/.vs/FireAlert/v17
